@{
    ViewBag.Title = "Resource security";
}

<div class="jumbotron">
    <h1>Auth + claims</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            if you see this you are in admin role
        </p>
    </div>

</div>