@{
    ViewBag.Title = "Secured page";
}

<div class="jumbotron">
    <h1>Auth + claims</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Claims info from web api:</h2>
        <p>
            @ViewBag.WebApiData
        </p>
    </div>

</div>